<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/metro.css">
    <link rel="stylesheet" href="/stylesheets/metro-icons.css">
    <link rel="stylesheet" href="/stylesheets/magic.css">
    <link rel="stylesheet" href="/stylesheets/facebox.css">   
  </head>
  <body>
  <script rel='javascript' src="https://connect.facebook.net/en_US/sdk.js"></script>

  <div class="app-bar bg-orange">
      
    <span class="app-bar-element branding bg-hover-orange" style="cursor:default;"><span class="mif-rocket mif-2x" style="margin-right: 10px;"></span>Social Media Analyzer</span>
    <span class="app-bar-divider bg-orange"></span>
    <ul class="app-bar-menu">
        <li class=" bg-hover-amber" id="home-link">Home</li>       
        <li class=" bg-hover-amber" id="help-link">Help</li>
         <li>
           <div class="fb-login-button no-padding-top logout-top" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
        </li>
    </ul>
  </div>


  <div class="grid padding20">
    <div class="row cells1  block-shadow-impact bg-white">
      <div class="row cells5">
      <div class="cell"></div>
        <div class="cell align-center colspan3 main-content-margin">
           <h2 class="leader padding20" ><%= title %>
           <small>A dynamic Web App, build to analyze and visualize content posted on Social Media Plattforms </small></h2>  
        </div>
        <div class="cell"></div>
      </div>
      <div class="row cells3">
      <div class="cell"></div>  
      <div class="cell align-center">
          <div class="input-control modern text iconic padding10 full-size">
              <input type="text" id="input-keyword" disabled>
              <span class="label">Please enter a search term!</span>
              <span class="informer">Press Enter to start your search</span>
              <span class="placeholder" id="search-placeholder">Keyword</span>
              <span class="icon mif-search"></span>                   
          </div>
      </div>
      <div class="cell"></div>
      </div>
      <div class="row cells3"> 
        <div class="cell"></div>
        <div class="cell padding10">
          <div class="slider large align-center slider-width" id="slider"
            data-target="#slider-input"
            data-on-change="dropValueToInput"
            data-role="slider"             
            data-max-value="500"
            data-min-value="10"
            data-complete-color="ribbed-orange">
          </div>
          <label>Number of Posts </label>
          <div class="input-control text">
              <input id="slider-input" value="10" id="input-count" style="width: 50px; margin-left: 5px;">                
          </div>
        </div>
          <div class="cell warning-padding">
            <div class="panel bg-orange hidden warning-width" data-role="panel" id="warning-post-count">
              <div class="heading bg-orange">
                  <span class="icon mif-hour-glass bg-orange"></span>
                  <span class="title">Warning</span>
              </div>
              <div class="content">
                  Due to the nature of some of the APIs and some limitations,
                  a request with this size can take a long time to process.
                  Either choose a smaller number of posts or lay back and wait
                  some time.
              </div>
            </div>
          </div>
        </div>
    
      <div id="preloader-container" class="row cells3 padding20">
      <div class="cell">
      </div>
      <div id="info-login" class="cell info-container">
        <h5 class="no-margin-top">Logins</h5>
        <hr class="bg-orange">
        <div class="content">
          To access the features of this site, its required to retrieve access tokens for each platform.
          Login data for the networks Twitter and Reddit are provided by the author. The current state
          of the Facebook API requires that you login with your own Facebook Account. You can find
          the Login Button at the top of this page. The author assures that the account data is only used
          for the intended purposes.
        </div>
      </div>

      <div id="info-search" class="cell hidden info-container  main-content-margin">
        <h5 class="no-margin-top">Search</h5>
        <hr class="bg-orange">
        <div class="content">
          Some APIs (especially the Facebook API) tend to use a very long time to deliver the requested data.
          Also the server side processing may take additional time. On the right you can check the status
          of the current search.
        </div>
      </div>

      <div class="cell cells4 grid" style="padding-top: 50px;">        
        <div class="row cells2">
          <img id="preloader-icon-facebook" src="/images/facebook-icon-circle.png" class="preload-size cell" style="width:40px; margin-right: 20px;"></img>
          <img id="preloader-ok-facebook"src="/images/ok-icon-circle.png" class="cell preload-size hidden" style="width:40px;"></img>
          <div id="preloader-facebook" data-role="preloader" data-type="ring" data-style="dark" class="cell preload-size"></div>
        </div>
        <div class="row cells2">
          <img id="preloader-icon-twitter" src="/images/twitter-icon-circle.png.png" class="cell preload-size" style="width:40px; margin-right: 20px;"></img>
          <img id="preloader-ok-twitter"src="/images/ok-icon-circle.png" class="cell hidden preload-size" style="width:40px;"></img>
          <div id="preloader-twitter" data-role="preloader" data-type="ring" data-style="dark" class="cell preload-size"></div>
        </div>
        <div class=" row cells2">
          <img id="preloader-icon-reddit"src="/images/reddit-icon-circle.png" class="cell preload-size" style="width:40px; margin-right: 20px;"></img>
          <img id="preloader-ok-reddit"src="/images/ok-icon-circle.png" class="cell hidden preload-size" style="width:40px;"></img>
          <div id="preloader-reddit" data-role="preloader" data-type="ring" data-style="dark" class="cell preload-size"></div>
        </div>
      </div>      
       <div class="cell">
      </div>
      </div>
    </div>
    <div class="row cells1 block-shadow-impact hidden" id="accordion-container">
      <div class="cell">
        <div class="accordion large-heading" data-role="accordion">

          <div class="frame hidden" id="frame-general">
            <div class="heading">General Information</div>
            <div class="content">
              <div class="carousel chart-carousel" data-auto="false" data-role="carousel" data-control-next="<span class='mif-chevron-right'></span>" data-control-prev="<span class='mif-chevron-left'></span>" style="width: 100%;">

                <div class="slide padding30">
                <div id="vote-chart-row" class="cell colspan6 padding20 row cells2">                             
                  <div id="vote-chart-container" class="cell colspan6 padding20">
                 
                  </div>
                  <div class="cell">
                    <h5 class="no-margin-top">Vote Analysis</h5>
                    <hr class="bg-orange">
                    <div class="content">
                      The three social Networks offer different mechanisms to rate the content posted by their users. Theres not much
                      exisiting research compairing these mechanisms among themselves. Your search term returned <b><text id="text-votes-overall"></text></b>
                      ratings over the three networks. In the Social Network Facebook it reached a number of <b><text id="text-fb-likes"></text></b> likes and 
                      <b><text id="text-fb-shares"></text></b> shares. The users of the Microblogging plattform Twitter used the retweet feature <b><text id="text-twit-retweet"></text></b> times and set <b><text id="text-twit-favorites"></text></b> times as favorite posts concerning your query term. With the recent changes of the Reddit API its not possible to tell you the exact values of Up or Downvotes but the overall score of the posts were <b><text id="text-rddt-score"></text></b>. Please consume these values with caution, as stated above, because there is not enough existing research in compairing these values!
                    </div>
                  </div>              
                </div>
                </div>
                <div class="slide padding30">
                <div id="sentiment-chart-overall-row" class="cell padding20 grid">
                <div class="row cells2">
                  <div class="cell">
                    <div class="row cells3">
                     <div class="cell fb-banner" id="facebook-banner">
                        <img src="/images/facebook-banner.png" style="width:50%; margin-left:40px;"></img>
                      </div>
                      <div class="cell twit-banner" id="twitter-banner">
                        <img src="/images/twitter-banner.png" style="width:50%; margin-left:20px;"></img>
                      </div>
                       <div class="cell rdt-banner" id="reddit-banner">
                        <img src="/images/reddit-banner.png" style="width:50%; margin-left:-10px;"></img>
                      </div>
                    </div>
                  </div>
                  <div class="cell">
                  </div>
                </div>
                <div class="row cells2">                  
                  <div id="sentiment-chart-container" class="cell">
                 
                  </div>
                  <div class="cell">
                    <h5 class="no-margin-top">Sentiment Analysis</h5>
                    <hr class="bg-orange">
                    <div class="content">
                      This is a method to define the subjective information found in the collected posts. Also known as opinion mining, sentiment analysis makes use of different techniques like natural language processing and text analysis. It tries to determine the attitude of the author towards the specific
                      search term you entered. To identify the sentiment of the posts the node.js module 'sentiment' was utilized which makes use of the AFINN-111 wordlist
                      that rates every word on a scale from -5 to 5. The users on <b><text id="text-sent-most-negative"></text></b> were the most negative as to <b><text id="text-sent-most-positive"></text></b> where the users were most positive concerning your query.
                    </div>
                  </div>
                  </div>
                 <div class="row cells2">           
                  <div class="row cells3 cell" id="sentiment-chart-single-description">
                    
                  </div>
                </div>
                </div>
                </div>
                <div class="slide padding30">
                <div id="wordcloud-chart-row" class="cell colspan6 padding20 row cells2">                  
                  <div id="wordcloud-container" class="cell grid">
                    <div class="row cells4 content-padding">
                      <div class="cell"></div>
                      <div class="cell"> <img src="/images/facebook-banner.png" style="width:50%;"></img></div>
                      <div id="wordcloud-facebook" class="cell">                        
                      </div>
                    </div>
                    <div class="row cells4 content-padding">
                      <div class="cell"> <img src="/images/twitter-banner.png" style="width:50%;"></img></div>
                      <div id="wordcloud-twitter" class="cell">
                      </div>
                      <div class="cell"><img src="/images/reddit-banner.png" style="width:50%;"></img></img></div>
                      <div id="wordcloud-reddit" class="cell">
                      </div>
                    </div>
                  </div>
                  <div class="cell">
                    <h5 class="no-margin-top">Word Cloud</h5>
                    <hr class="bg-orange">
                    <div class="content">
                      This is the graphical representation of all tokens used in the posts containing your search term. The larger the words the more often they are used
                      across the social media platforms. The tokens are filtered by a stopwordlist, excluding words like 'I', 'a' or 'the'. 
                      On facebook the most used word was <b><text id="text-token-most-facebook"></text></b> with <b><text id="text-token-occurence-facebook"></text></b> occurences, twitter users favorite word was <b><text id="text-token-most-twitter"></text></b> which was used <b><text id="text-token-occurence-twitter"></text></b> times and redditors prefered the word <b><text id="text-token-most-reddit"></text></b> with a number of <b><text id="text-token-occurence-reddit"></text></b> times.
                    </div>
                  </div> 
                </div>
                </div>                
                <div class="slide padding30">
                <div id="token-chart-row" class="cell colspan6 padding20 row cells2">                  
                 <div id="token-chart-container" class="cell colspan6 padding20">

                 </div>
                 <div class="cell">
                    <h5 class="no-margin-top">Token Analysis</h5>
                    <hr class="bg-orange">
                    <div class="content">
                     The maximum possible length of a posts is very diffrent between the three networks. The least amount of characters can be used on Twitter with 140 characters maximum per post. On reddit posts the limit is up to 10.000 characters. Facebook offers you to use more than six times as many characters: 63,206 characters are possible in a single post. The average length of the posts for your query was <b><text id="text-post-length-average"></text></b> tokens.
                     Concerning all collected posts the post with the most tokens had <b><text id="text-post-most-tokens"></text></b> different tokens. The shortest post
                     had only <b><text id="text-post-least-tokens"></text></b> tokens. 
                    </div>
                  </div>  
                </div>                 
                </div>
                <div class="slide padding30">
                 <div id="content-chart-row" class="cell colspan6 padding20 row cells2">                   
                   <div id="content-chart-container" class="cell grid condensed">
                    <div class="row cells4 content-padding">
                      <div class="cell"></div>
                      
                      <div class="cell"> <img src="/images/facebook-banner.png" style="width:50%; float:right;"></img></div>
                      <div id="content-facebook" class="cell">
                      </div>
                    </div>
                    <div class="row cells4 content-padding">
                      <div class="cell"> <img src="/images/twitter-banner.png" style="width:50%; float:right;"></img></div>
                      <div id="content-twitter" class="cell">                       
                      </div>
                       <div class="cell"><img src="/images/reddit-banner.png" style="width:50%; float:right;"></img></img></div>
                      <div id="content-reddit" class="cell">
                      </div>
                    </div>
                  </div>
                   <div class="cell" id="content-description">
                    <h5 class="no-margin-top">Content Distribution</h5>
                    <hr class="bg-orange">
                    <div class="content">
                      A feature that all three Social Media Platforms share is the possiblity to create content in various forms. This application distinguishes between text, images, links and videos. The most used type of content across all plattforms was <b><text id="text-content-most-type"></text></b> with a total occurence of <b><text id="text-content-most-count"></text></b>.
                    </div>
                  </div> 
                 </div>
                </div>
                <div class="slide padding30">
                  <div id="export-row" class="cell colspan6 padding20 row cells2">
                  <div class="cell">
                  <h5 class="no-margin-top">Export</h5>
                    <hr class="bg-orange">
                    <div class="content padding10">
                      This export option allows you to download the collected data so you can use the collection for further research.
                      The data is stored in JSON. Below you can see the sample structure of a post element.
                    </div>
                      <code id="elment-json" class="row padding10">
                          element = {
                                            "id":     "",
                                            "text":     "",
                                            "username":   "",
                                            "date":     "",
                                            "source":   "",
                                            "type":     "",
                                            "lang": {
                                              "probLang": "",
                                              "length": "",
                                              "tokens": [],
                                              "tokensStopword": [],
                                              "countTokens": "",
                                              "types":  [],
                                              "countTypes": "",
                                              "hashtags": []
                                            },
                                            "sentiment": {},
                                            "content":{
                                              "type": "",
                                              "url": "",
                                              "thumbnail": ""       
                                            },
                                            "votes": {
                                              "likes": "",
                                              "shares": "",
                                              "retweets": "",
                                              "favorites": "",
                                              "upvotes": "",
                                              "downvotes": "",
                                              "score": ""
                                            }
                                          }
                      </code>
                      <button id="input-file" class="button loading-pulse">Download</button>
                    </div>


                    
                  </div>                   
                </div>

            </div>
          </div>
        </div>

          <div class="frame hidden" id="frame-posts">
            <div class="heading">Posts</div>
            <div class="content">
              <div class="row cells3">
                <div class="cell fb-banner" id="facebook-banner">
                  <img src="/images/facebook-banner.png" style="width:27%;"></img>
                </div>
                <div class="cell twit-banner" id="twitter-banner">
                  <img src="/images/twitter-banner.png" style="width:27%;"></img>
                </div>
                 <div class="cell rdt-banner" id="reddit-banner">
                  <img src="/images/reddit-banner.png" style="width:27%;"></img>
                </div>
              </div>
              <div class="row cells3">                
                <div class="cell">
                  <div id="facebook-post-result">
                    
                  </div>
                </div>
                <div class="cell">
                  <div id="twitter-post-result">
                   
                  </div>
                </div>
                <div class="cell">
                  <div id="reddit-post-result">                 
                    
                  </div>
                </div>
              </div>                
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
      
  </div>

         
    
    <!--Libs-->   
    <script rel='javascript' src="/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/bootstrap.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/jquery-ui.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/lodash.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/d3.js"></script>
    <script rel='javascript' src="/javascripts/libs/d3.layout.cloud.js "></script>       
    <script rel='javascript' src="/javascripts/libs/d3.tip.js"></script>
    <script rel='javascript' src="/javascripts/libs/metro.min.js"></script>    
    <script rel='javascript' src="/javascripts/libs/facebox.js"></script> 
    
    
     <!--JS-Files-->
    <script src="/javascripts/SocialMediaAnalyzer.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/IndexController.js"></script>
    <script src="/javascripts/controller/VisualizationController.js"></script>        
    <script src="/javascripts/controller/LoginController.js"></script>        
    <script src="/javascripts/views/Visualization.js"></script>
    <script>
        SocialMediaAnalyzer.init();
    </script>  
  </body>
</html>
