<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
  <script rel='javascript' src="https://connect.facebook.net/en_US/sdk.js"></script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
     
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SocialMediaAnalyzer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><div class="fb-login-button" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
          </ul>
        </div>
     
    </nav>
    
		<div class="col-md-12">
        <h1 class="col-md-offset-4 top-buffer-lg"><%= title %></h1>    		
        <form class="form-vertical">   
          <div class="input-group col-md-8 col-md-offset-2">
            <input id="input-keyword" type="text" class="form-control" placeholder="Enter your desired keyword!">
            <span class="input-group-btn">
               <button id="submit-button" class="btn btn-default" type="button">Submit!</button>
            </span>            
          </div>
          <div class="form-inline col-md-6 col-md-offset-2 top-buffer-sm">
            <label for="input-count">Number of Posts:</label>
            <input id="input-count" class="form-control" type="number" value="10" min="10"/>
          </div>
        </form>
        <div class="row col-md-12 top-buffer-lg">
        </div>

         <div class="row">

            <div id="result-container" class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12 result-container">

                <div class="panel-group" id="accordion">
                    <div id="panel-heading-one" class="panel panel-primary panel-one">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-plus"></i>General Information
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <!-- write content for general info here!-->
                                <div id="vote-chart" class="chart">
                                  
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="panel-heading-two" class="panel panel-primary panel-two">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="fa fa-plus"></i>Posts
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-12">
                                  <div id="twitter-post-result" class="well col-md-offset-1 col-md-3 right-buffer-md"</div>
                                    <ul>
                                        <li>
                                          <span></span>
                                        </li>
                                    </ul>
                                  </div>
                                  <div id="facebook-post-result" class="well col-md-3 right-buffer-md"</div>
                                    <ul>
                                        <li>
                                          <span></span>
                                        </li>
                                    </ul>
                                  </div>
                                  <div id="reddit-post-result" class="well col-md-3"</div>
                                    <ul>
                                        <li>
                                          <span></span>
                                        </li>
                                    </ul>
                                  </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div id="panel-heading-three" class="panel panel-primary panel-three">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="fa fa-plus"></i>Mapping
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Vivamus sagittis egestas mauris ut vehicula. Cras viverra ac orci ac aliquam.
           Nulla eget condimentum mauris, eget tincidunt est. Quisque in luctus ligula.
           Aenean eget ligula id nulla ornare placerat vel a nulla. 
          Duis lobortis purus auctor eros rhoncus, sed tempor est molestie.
           Nulla eget condimentum mauris, eget tincidunt est. Quisque in luctus ligula.
           Aenean eget ligula id nulla ornare placerat vel a nulla. 
          Duis lobortis purus auctor eros rhoncus, sed tempor est molestie.
                            </div>
                        </div>
                    </div>
                    
                    <div id="panel-heading-four"  class="panel panel-primary panel-four">
                        <div class="panel-heading">
                            <h4 class="panel-title panel-title-adjust">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                    <i class="fa fa-plus"></i>Summary
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Vivamus sagittis egestas mauris ut vehicula. Cras viverra ac orci ac aliquam.
           Nulla eget condimentum mauris, eget tincidunt est. Quisque in luctus ligula.
           Aenean eget ligula id nulla ornare placerat vel a nulla. 
          Duis lobortis purus auctor eros rhoncus, sed tempor est molestie.
           Nulla eget condimentum mauris, eget tincidunt est. Quisque in luctus ligula.
           Aenean eget ligula id nulla ornare placerat vel a nulla. 
          Duis lobortis purus auctor eros rhoncus, sed tempor est molestie.
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
      </div>
    
    <!--Libs-->   
    <script rel='javascript' src="/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/bootstrap.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/jquery-ui.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/lodash.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/d3.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/pure.min.js"></script>
    
     <!--JS-Files-->
    <script src="/javascripts/SocialMediaAnalyzer.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/IndexController.js"></script>
    <script src="/javascripts/controller/LoginController.js"></script>    
    <script src="/javascripts/controller/VisualizationController.js"></script>        
    <script src="/javascripts/views/Search.js"></script>
    <script src="/javascripts/views/Visualization.js"></script>
    <script>
        SocialMediaAnalyzer.init();
    </script>  
  </body>
</html>
