<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/metro.css">
    <link rel="stylesheet" href="/stylesheets/metro-icons.css">
    <link rel="stylesheet" href="/stylesheets/magic.css">
  </head>
  <body>
  <script rel='javascript' src="https://connect.facebook.net/en_US/sdk.js"></script>

  <div class="app-bar bg-orange">
      
    <a class="app-bar-element branding bg-hover-orange"><span class="mif-rocket mif-2x" style="margin-right: 10px;"></span>Social Media Analyzer</a>
    <span class="app-bar-divider bg-orange"></span>
    <ul class="app-bar-menu">
        <li class=" bg-hover-amber">Home</li>
        <li class=" bg-hover-amber">Support</li>
        <li class=" bg-hover-amber">Help</li>
         <li>
           <div class="fb-login-button no-padding-top logout-top" data-size="large" data-show-faces="false" data-auto-logout-link="true"></div>
        </li>
    </ul>
  </div>


  <div class="grid padding20 margin20">
    <div class="row cells1  block-shadow-impact bg-white">
      <div class="row cells5">
      <div class="cell"></div>
        <div class="cell align-center colspan3">
           <h2 class="leader padding20" ><%= title %>
           <small>A dynamic Web App, build to analyze and visualize content posted on Social Media Plattforms </small></h2>  
        </div>
        <div class="cell"></div>
      </div>
      <div class="row cells3">
      <div class="cell"></div>  
      <div class="cell align-center">
          <div class="input-control modern text iconic padding10 full-size">
              <input type="text" id="input-keyword">
              <span class="label">Please enter a search term we should analyze!</span>
              <span class="informer">Press Enter to start your search</span>
              <span class="placeholder" id="search-placeholder">Keyword</span>
              <span class="icon mif-search"></span>                   
          </div>
      </div>
      <div class="cell"></div>
      </div>
      <div class="row cells3"> 
        <div class="cell"></div>
        <div class="cell padding10">
          <div class="slider large align-center" id="slider"
            data-target="#slider-input"
            data-on-change="dropValueToInput"
            data-role="slider"             
            data-max-value="1000"
            data-min-value="10"
            data-complete-color="ribbed-orange">
          </div>
          <label>Number of Posts </label>
          <div class="input-control text">
              <input id="slider-input" value="10" id="input-count" style="width: 50px; margin-left: 5px;">                
          </div>
        </div>
          <div class="cell">
            <div class="panel bg-orange hidden" data-role="panel" id="warning-post-count">
              <div class="heading bg-orange">
                  <span class="icon mif-hour-glass bg-orange"></span>
                  <span class="title">Warning</span>
              </div>
              <div class="content">
                  Due to the nature of some of the APIs and some limitations,
                  a request with this size can take a long time to process.
                  Either choose a smaller number of posts or lay back and wait
                  some time.
              </div>
            </div>
          </div>
        </div>
    
      <div id="preloader-container" class="row cells3 hidden padding20">
      <div class="cell">
      </div>
      <div class="cell">
        <div id="preloader" data-role="preloader" data-type="metro" data-style="dark"></div>
      </div>
      <div class="cell">
      </div>
      </div>
    </div>
    <div class="row cells1 block-shadow-impact hidden" id="accordion-container">
      <div class="cell">
        <div class="accordion" data-role="accordion">
          <div class="frame hidden" id="frame-general">
            <div class="heading">General Information</div>
            <div class="content">
               <div class="row cells12">
                <div id="vote-chart-container" class="cell colspan6 padding20 row cells6">               
                <div class="cell">
                  <svg id="vote-chart-fb" class="vote-chart facebook">
                                   
                  </svg>
                </div>
                <div class="cell">
                  <svg id="vote-chart-twitter" class="vote-chart twitter">
                                   
                  </svg>
               </div>
               <div class="cell">
                  <svg id="vote-chart-reddit" class="vote-chart reddit">
                                   
                  </svg>
              </div>
               <div class="cell colspan3">
              </div>  
              </div>
                         
              <div class="cell colspan6">
                <div class="cell">
                <svg id="sentiment-chart-overall" class="sentiment-chart">
                                   
                </svg>
              </div>
              </div>
            </div>
            </div>
          </div>         
          <div class="frame hidden" id="frame-posts">
            <div class="heading">Posts</div>
            <div class="content">
              <div class="row cells3">
                <div class="cell">
                <div id="twitter-post-result">
                 <div class="tile" data-role="tile"><div class="tile-content"></div></div>
                </div>
                </div>
                <div class="cell">
                <div id="facebook-post-result">
                  <div class="tile" data-role="tile"><div class="tile-content"></div></div>
                </div>
                </div>
                <div class="cell">
                <div id="reddit-post-result">                 
                  
                </div>
                </div>
              </div>                
            </div>
          </div>
           <div class="frame hidden" id="frame-mapping">
              <div class="heading">Mapping</div>
              <div class="content">Frame content</div>
          </div>

        </div>
      </div>
    </div>  
  </div>
      
  </div>

         
    
    <!--Libs-->   
    <script rel='javascript' src="/javascripts/libs/jquery-2.1.3.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/bootstrap.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/jquery-ui.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/lodash.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/d3.js"></script>
    <script rel='javascript' src="/javascripts/libs/pure.min.js"></script>
    <script rel='javascript' src="/javascripts/libs/metro.min.js"></script>
    
     <!--JS-Files-->
    <script src="/javascripts/SocialMediaAnalyzer.js"></script>
    <script src="/javascripts/controller/MainController.js"></script>
    <script src="/javascripts/controller/IndexController.js"></script>
    <script src="/javascripts/controller/LoginController.js"></script>    
    <script src="/javascripts/controller/VisualizationController.js"></script>        
    <script src="/javascripts/views/Search.js"></script>
    <script src="/javascripts/views/Visualization.js"></script>
    <script>
        SocialMediaAnalyzer.init();
    </script>  
  </body>
</html>
