body {
  background-image: url("../images/background-image.jpg");
  background-size: 100% 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.logout-top{
  top:-20px;
}
.panel-one {
	display: none;
}
.panel-two {
	display: none;
}
.panel-three {
	display: none;
}
.panel-four {
	display: none;
}
.top-buffer-lg {
 margin-top: 50px;
}
.top-buffer-sm {
 margin-top: 25px;
}
.right-buffer-md{
	margin-right: 5px;
}

.grow
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.vote-chart {
  padding: 10px;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
.hidden {
  visibility: hidden;
}
.sentiment-chart {

}
.twitter {
  fill: #55acee;
}
.facebook {
  fill: #3a5795;
}
.reddit {
  fill:#faa200;
}