body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel-one {
	display: none;
}
.panel-two {
	display: none;
}
.panel-three {
	display: none;
}
.panel-four {
	display: none;
}
.top-buffer-lg {
 margin-top: 50px;
}
.top-buffer-sm {
 margin-top: 25px;
}
.right-buffer-md{
	margin-right: 5px;
}

